extends layout

block content
  h1= title
  p Welcome to #{title}
  p <br />
  p <br />
  p <strong>API endpoints:</strong>
  p 1. GET /tweets/tweets
  p 2. POST tweets/send
  p {
  p "tweet":"2222"
  p }
  p 3. GET /users
  p 4. POST /