extends layout

block content
  h1= title
  p Welcome to #{title}
  p <br />
  p <br />
  p <strong>API endpoints:</strong>
  p GET /tweets/tweets
  p POST tweets/send
  p {
  p "tweet":"2222"
  p }
  p GET /users
  p POST /